https://miro.com/welcomeonboard/2u7KoSE58auS6YI1cwapJV473d1rqTuUAgjM8cvehHN1pUDA28SRN4BpNQRFM7w5

Voilà le lien vers notre schéma de la dernière fois. Pour rappel, on s'est dit pour la prochaine session : pandas de base

    load csv
    Series et DataFrames
    Indexation
    loc vs iloc
    sorting
    Valeurs manquantes

Scikit-learn

    Fit, predict
    train test split
    métriques
    pielines ?

Dataviz

    Matplotlib
    Pandas plot

# Pandas

## Introduction

On a vu les liste, mais ne permettent pas de calcul numérique

In [1]:
try:
    [1, 2, 3] + 4
except:
    print("Python ne sait pas faire ça !")

Python ne sait pas faire ça !

Numpy apporte le calcul matriciel. Par habitude et flemme, on l'importe sous le nom **np**.

In [2]:
import numpy as np

np.array([1,2,3]) + 4

array([5, 6, 7])

Mais Numpy fait du calcul matriciel et non du traitement de données. Il ne permet psa de gérer des data frames, de réaliser des opérations de haut niveau (group by), ... C'est ce que fait Pandas !

## L'objet de base de Pandas : Series

### Création

Pandas s'importe usuellement sous le nom **pd**

In [3]:
import pandas as pd

L'objet le plus fondamental dans Pandas est la série. Il permet de représenter une série de données, c'ets-à-dire une liste unidimenssionnelle d'objet de tout type. Chaque donné dispose d'un label. Ces labels forment ce qu'on appelle l'**index** de la série.

In [4]:
pd.Series([1, 'toto', None], index=['a', 'b', 'c'])

a       1
b    toto
c    None
dtype: object

Si on ne précise pas d'index, Pandas utilise les numéros de lignes (en commençant à 0).

In [5]:
pd.Series([1, 'toto', None])

0       1
1    toto
2    None
dtype: object

In [6]:
s = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
s

a    1
b    2
c    3
dtype: int64

In [7]:
s2 = pd.Series([1, 2, 3], index=['c', 'b', 'z'])
s2

c    1
b    2
z    3
dtype: int64

In [8]:
s + 1

a    2
b    3
c    4
dtype: int64

In [9]:
s + s2

a    NaN
b    4.0
c    4.0
z    NaN
dtype: float64

### Indexation

L'index permet d'extraire un élément de la série directement par son label

In [10]:
s['b']

2

On peut aussi faire de l'indexation booléenne

In [11]:
s[[True, False, True]]

a    1
c    3
dtype: int64

On peut aussi sélectionner par numéro de ligne

In [13]:
s[1]

2

Comme sur les listes, on peut prendre des tranches (slicing)

In [14]:
s[1:]

b    2
c    3
dtype: int64

In [15]:
s[-1]

3

On peut modifier ou ajouter des éléments

In [17]:
s['d'] = 4

s

a    1
b    2
c    3
d    4
dtype: int64

In [19]:
s['d'] = 0

s

a    1
b    2
c    3
d    0
dtype: int64

### Loc et iloc

On a vu que s[x] peut signifier soit l'élément ayant le label x, soit le x-ème élément si c'est un nombre. Pandas sait choisir la bonne signification... quand il n'y a pas d'ambiguïté.

In [22]:
s = pd.Series(['a', 'b', 'c'], index=[2, 3, 4])
s

2    a
3    b
4    c
dtype: object

In [23]:
s[2]

'a'

Pour prendre l'élement n°2, il faut être plus explicite dans notre façon d'indexer. Pandas met à disposition deux indexeurs :

.loc permet d'accéder par label

.iloc permet d'accéder par numéro

In [24]:
s.loc[2]

'a'

In [25]:
s.iloc[2]

'c'

## L'objet le plus utilie : le DataFrame

### Création

Un DataFrame est une structure bidimensionnel. Il s'agit d'un ensemble de Series. On peut le construire par exemple à partir d'un dict dont les valeurs sont des Series.

In [39]:
s1 = pd.Series([1, 2, 3], index = ['a', 'b', 'c'])
s2 = pd.Series([4, 5, 6], index = ['c', 'b', 'd'])

df = pd.DataFrame({'toto': s1, 'titi': s2})

df

   toto  titi
a   1.0   NaN
b   2.0   5.0
c   3.0   4.0
d   NaN   6.0

Il existe de nombreuses autres açons de construire un DataFrame. Par exemple à partir d'un dict de lists :

In [40]:
d = {'toto': [1, 2, 3, np.nan], 'titi': [np.nan, 5, 4, 6]}

pd.DataFrame(d, index=['a', 'b', 'c', 'd'])

   toto  titi
a   1.0   NaN
b   2.0   6.0
c   3.0   7.0
d   NaN   8.0

Ou encore une liste de listes. On peut alors préciser l'index et le nom des colonnes.

In [45]:
pd.DataFrame([[1, np.nan], [2, 5], [3, 4], [np.nan, 6]], index=['a', 'b', 'c', 'd'], columns=['toto', 'titi'])

   toto  titi
a   1.0   NaN
b   2.0   5.0
c   3.0   4.0
d   NaN   6.0

### Manipulation

#### Indexation

Les crochets permettent d'extraire une ou plusieurs colonne

In [53]:
df['toto']

a    1.0
b    2.0
c    3.0
d    NaN
Name: toto, dtype: float64

Il s'agit alors d'une Series

In [54]:
type(df['toto'])

pandas.core.series.Series

On peut aussi utiliser :

In [62]:
df.toto

a    1.0
b    2.0
c    3.0
d    NaN
Name: toto, dtype: float64

Si on utilise des numéros, alors cela sélectionne des lignes :

In [66]:
df[0:3]

   toto  titi
a   1.0   NaN
b   2.0   5.0
c   3.0   4.0

Pour extraire une ou des lignes, on peut utiliser **loc** et **iloc**.

In [56]:
df.loc['a']

toto    1.0
titi    NaN
Name: a, dtype: float64

In [57]:
type(df.loc['a'])

pandas.core.series.Series

In [58]:
df.loc[['a', 'c']]

   toto  titi
a   1.0   NaN
c   3.0   4.0

In [59]:
type(df.loc[['a', 'c']])

pandas.core.frame.DataFrame

In [60]:
df.iloc[-2:]

   toto  titi
c   3.0   4.0
d   NaN   6.0

Pour extraire un élément, on peut soit sélectionner la série puis l'élément

In [75]:
df['toto']['b']

2.0

Soit on peut passer la ligne et la colonne à loc et iloc

In [74]:
df.loc['b', 'toto']

2.0

In [77]:
df.iloc[1, 0]

2.0

Pour toutes ces fonctions, on peut faire du slicing, ou passer des listes, pour extraire plusieurs éléments

On peut aussi faire de l'indexation booléenne, pour sélectionner lignes

In [80]:
df[df['toto'] > 1]

   toto  titi
b   2.0   5.0
c   3.0   4.0

#### Manipulation globale

Pour voir les premières lignes

In [47]:
df.head(2)

   toto  titi
a   1.0   NaN
b   2.0   5.0

Trier par l'index

In [51]:
df.sort_index(ascending=False)

   toto  titi
d   NaN   6.0
c   3.0   4.0
b   2.0   5.0
a   1.0   NaN

Trier par valeur sur une colonne

In [52]:
df.sort_values('titi')

   toto  titi
c   3.0   4.0
b   2.0   5.0
d   NaN   6.0
a   1.0   NaN

Ces fonctions retournent un nouveau DataFrame et ne modifient pas l'objet d'origine

Valeurs manquantes

In [83]:
df.dropna()

   toto  titi
b   2.0   5.0
c   3.0   4.0

In [85]:
df.fillna(0)

   toto  titi
a   1.0   0.0
b   2.0   5.0
c   3.0   4.0
d   0.0   6.0

Opérations

In [89]:
df.mean()

toto    2.0
titi    5.0
dtype: float64

In [90]:
df.sum()

toto     6.0
titi    15.0
dtype: float64

In [92]:
df.mean(axis=1)

a    1.0
b    3.5
c    3.5
d    6.0
dtype: float64

In [95]:
df.value_counts()

toto  titi
3.0   4.0     1
2.0   5.0     1
dtype: int64

### Import et export

In [98]:
df.to_csv('df.csv')

In [100]:
pd.read_csv('df.csv')

  Unnamed: 0  toto  titi
0          a   1.0   NaN
1          b   2.0   5.0
2          c   3.0   4.0
3          d   NaN   6.0

In [101]:
pd.read_csv('df.csv', index_col=0)

   toto  titi
a   1.0   NaN
b   2.0   5.0
c   3.0   4.0
d   NaN   6.0

# Graphiques

# Scikit Learn